.footer-section{
  background: linear-gradient(90deg, rgba(124,196,70,1) 20%, rgba(79,184,72,1) 45%, rgba(33,173,76,1) 73%);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.footer-container{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.footer-solo-section{
  width: 25%;
  display: flex;
  flex-direction: column;
  color: white;
  /* border: 2px solid black; */
  /* justify-content: center; */
}

.footer-image img{
  width: 100%;
}
.footer-solo-section h6, .solo-contact{
  padding-left:2rem ;
}
.footer-solo-section li{
  list-style: none;
}
.footer-solo-section li a{
  color: white;
}
.category-list-footer{
  background: none;
  border: 0;
  color: white;
}
@media screen and (max-width: 950px) {
  .footer-solo-section{
      width: 50%;
      display: flex;
  }
  .footer-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-image img{
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  .footer-solo-section{
      width: 100%;
      display: flex;
  }
  .footer-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-image img{
    width: 80%;
  }
}
