.service-section{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f7f6f2;
    padding: 60px 0;
}
.service-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.single-service{
    /* border: 2px solid blue; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.single-service:hover .service1, .single-service:hover .service2{
    background: #82ae46;
}
.service1{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
/* .service1:hover, .service2:hover{
    cursor: pointer;
    background: #82ae46;
} */
.service2{
    border: 1px solid white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e4b2d7;
}
.icon-feature{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}
.truck1{
    background-color: #e3afd5;
}
.truck2{
    background-color: #e4b2d7;
}
.mortar1{
    background-color: #ddc399;
}
.mortar2{
    background-color: #dcc697;
}
.ranking-star1{
    background-color: #a6d2e1;
}
.ranking-star2{
    background-color: #a1d2e3;
}
.headset1{
    background-color: #dfd590;
}
.headset2{
    background-color: #dcd690;
}
.icon-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}
.icon-text h6{
    text-align: center;
    font-weight: bold;
}
.icon-text p{
    font-size: 13px;
    color: #666;
    text-align: center;
}
@media screen and (max-width: 828px) {
    .single-service{
        width: 50%;
    }
}
@media screen and (max-width: 420px) {
    .single-service{
        width: 100%;
    }
}