.UserImage{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 20px;
}
.dashbtn{
    background-color: rgb(81, 183, 195);
}
.dashbtn:active, .dashbtn:focus {
    background-color:rgb(0, 128, 47);
  }
.comp1img{
    height: 60px;
    width: 60px;
    margin-right: 30px;
    
}
.comp1{
    padding:0px 0px 15px

}
.box{
    border: 1px solid rgb(187, 218, 238); 
    box-shadow: 4px 4px;  
    background-color: rgb(199, 253, 195);
}