.single-product-page{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 50px 0; 
}
.single-product-info{
    /* border: 2px solid red; */
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.single-product-image-section{
    /* border: 2px solid purple; */
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 40px 20px;
    align-items: center;
}
.parent-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100%;
    /* border: 2px solid black; */
    /* height: 600px; */
}
.parent-image img{
    /* border: 2px solid black; */
    width: 100%;
    object-fit: contain;
    height: 100%;
    box-shadow: 1px 1px 10px 3px #666;
}
.child-sec2-img{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-images{
    display: flex;
    width: 80%;
    margin-top: 40px ;
    display: flex;
    justify-content: center;
}
.child-single-img{
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
    width: 25%;
    margin: 0 10px;
    box-shadow: 1px 1px 10px 3px #666;
    display: flex;
}
.child-single-img img{
    width: 100%;
}
.single-product-Content{
    /* border: 2px solid purple; */
    padding: 40px 20px;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    color: black;
}
.single-product-Content .singlePage-product-heading{
    color: black;
    font-size: 1.5rem;
}
.product-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.product-description{
    padding: 20px 0;
}
.product-description p{
    font-size: 80%;
    color: black;
}
.product-data-warranty{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.warranty-img{
    /* border: 2px solid blueviolet; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    align-items: center;
    padding: 10px;
}
.feature-img-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature-img-contain p{
    text-align: center;
    color: black;
}
.warranty-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #eee;
    border-radius: 50%;
    align-items: center;
}
.warranty-img p{
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin: 0;
}
.product-details{
    margin: 30px 0;
}
.product-details p{
    color: black;
}
.order-btns{
    display: flex;
    justify-content: space-between;
}
.single-addTocart{
    text-align: center;
}
.single-addTocart button, .single-buyNow .buy-now{
    padding: 10px;
    border: 0;
    background: orangered;
    color: white;
}
@media screen and (max-width: 698px){
    .single-product-image-section{
        width: 100%;
    }
    .singlePage-product-description{
        justify-content: center;
        width: 100%;
    }
    .single-product-Content{
        width: 100%;
    }
}