.payment-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-payment{
    width: 500px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-payment img{
    height: 700px;
    width: 100%;
    object-fit: contain;
}