.box{
  /* text-align: center; */
  background: #FFF6BD;
  color: #434242;
  margin: auto;
  width: 68%;
  padding: 15px 40px 15px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid rgba(124,196,70,1);
  /* background:  linear-gradient( rgba(124,196,70,1) , rgb(190, 245, 148) ); */
  border-radius: 11px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}
.glg{
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);;
  padding: 12px 68px 12px 15px;
  align-items: center;
  text-align: center;
  border: 2px solid #4285f4;
  margin: 5% 20% 5% 12% ;
  border-radius: 5px;
}

.submit-btn{
  background: #FFD4B2;
  padding: 12px;
  border: 2px solid #F0FF42;
  position: absolute;
  /* left: 50px; */
  border-radius: 5px;
}